page-login {
	ion-item.item-md, .button.button-md{
		margin-top: 40px;
		display: block;
	}

	.btn-container{
    display: flex;
    justify-content: center;
	}
	.btn-container .button{
		width: 160px;
	}

	form{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		max-width: 500px;
		min-width: 280px;
		width: 90%;
		padding: 20px;
	}

	.error-msg{
	}

	ion-content.content-md .scroll-content{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.page-content{
  	background: color($colors, app_alt_bg, base);
	}
	.page-content form{
  	background: #fff;
	}
	.login-btn{
  	background: color($colors, app_main_bg, base);
	}
	.login-options-list button{ 
  	/*color: color($colors, app_main_bg, base);*/
	}
}
