page-tabs {
	.toolbar-content.toolbar-content-md{
		display: flex;
		align-items: center;
	}
	.title.title-md{
		display: inline-block;
	}
	ion-icon.settings{
		/*position: absolute;*/
		right: 0;
		padding-right: 20px;
		font-size: 2rem;
	}
	.msg-notification{
     position: absolute;
		background: color($colors, app_notification, base);
    border-radius: 100%;
    padding: 2px;
    z-index: 10;
    height: 20px;
    width: 20px;
    text-align: center;
    bottom: 30px;
    right: 15%;
    /*color: #fff;*/
	}
}
