
page-profile {

	ion-content .scroll-content{
		padding: 36px 0 0 0;
	}

	.display-text{
		margin-top: 15px;
		font-size: 2rem;
		width: 100%;
		text-align: center;
	}

	.profile{
		background: color($colors, app_main_bg, base);
		/*display: flex;*/
		/*justify-content: space-between;*/
		/*align-items: center;*/
		padding: 10px;
    margin-top: -1px;
	}
	.profile-image{
		width: 65px;
		height: 65px;
		overflow: hidden;
		border-radius: 100%;
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
	.circle-head{
		width: 100%;
		height: 100%;
	}
	.profile-image>h5{
		position: absolute;
    overflow: hidden;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #003791;
    margin: 0px 0;
    font-size: 1.4rem;
    color: #fff;
    line-height: 150%;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
	}

	.profile-info-wrapper{
		display: inline-block;
		width: 120px;
    vertical-align: middle;
	}

	.profile-info{
		align-items: center;
		padding-left: 10px;
		color: #fff;
	}

	.game-input-wrapper{
		width: 90%;
		padding: 20px 0 15px 0;
		margin: 0 auto;
    position: relative;
	}

	.text-input::-moz-placeholder {
	  color: white;
	}

	.text-input:-ms-input-placeholder {
	  color: white;
	}

	.text-input::-webkit-input-placeholder {
	  text-indent: 0;
	  color: white;
	}

	.profile-info ion-icon{
		display: inline-block;
	}
	.profile-info h4{
		width: 90%;
		display: inline-block;
	}

	.trade-info{
		padding-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.display-info{
		margin-top: 30px;
	}

	.display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: center;
    width: 100%;
	}

	.display-list .trade-item{
		display: inline-block;
    width: 240px;
    height: 240px;
    margin: 10px 0;
	}
	.display-list .trade-img{
		width: 180px;
    /*height: 100%;*/
    height: 160px;
    display: inline-block;
	}

	.display-grid{
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: repeat( auto-fill, minmax(110px, 1fr) );
    justify-content: center;
    width: 100%;
    margin-bottom: 35px;
	}

	.display-grid .trade-item{
		position: relative;
		display: inline-block;
 		width: 110px;
    height: 160px;
    margin: 25px auto;
	}

	.display-grid .trade-img{
		width: 100%;
    height: 100%;
    display: inline-block;
	}


	.trade-img-title{
		position: absolute;
		width: 100%;
		padding: 10px 5px;
		bottom: 0;
		color: #fff;
    background: rgba(0, 0, 0, 0.5);
	}

	.display-grid .platforms{
    width: 100%;
    height: 40px;
    display: flex;
    overflow: auto;
    justify-content: space-between;
    margin: -4px 0 0 0px;
	}
	.display-grid .platforms img{
		display: inline-block;
		width: 32.5%;
	}

	.tip-text{
		/*color: color($colors, white, base);*/
		color: color($colors, app_main_bg, base);
		font-weight: 100;
	}

	.divider{
		color: #fff;
		background: color($colors, app_main_bg, base);
		padding: 5px 15px;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-left: -5px;
	}

	.trade-list .platforms{
    width: 50px;
    display: inline-block;
    overflow: auto;
    height: 100%;
    margin: 0 0 0 -3px;
	}
	.trade-list .platforms img{
		display: block;
		width: 50px;
	}

	.autocomplete{
		position: absolute;
		width: 100%;
		z-index: 2;
	}

	.autocomplete-item.item{
		background: rgba(12,32,52, 0.9);
	}
	.autocomplete img{
		width: 50px;
	}
	.autocomplete h5{
		display: inline-block;
		padding-left: 20px;
		color: #fff;
	}
	.autocomplete-item .label.label-md{
		display: flex;
		align-items: center;
	}

	.game-input{
		background: color($colors, app_alt_bg, base);
		color: #fff;
	}

	.search-spinner{
		position: absolute;
		right: 10%;
		padding: 24px 0;
		z-index: 9;
	}

	.search-spinner *{
		fill: #fff;
	}

	.set-location-btn{
		background: color($colors, app_alt_bg, base);
		box-shadow: initial;
		padding: 6px;
		display: inline-block;
		height: 2.6em;
		font-size: 0.9em;
		float: right;
		margin-top: 16px;
		vertical-align: middle;
		text-transform: initial;
	}

	@media only screen and (max-width: 340px) {
		.set-location-btn{
			float: initial;
		}
	}
}
