<ion-content padding>
	<div class="row-1">
		<div class="device-container">
			<div class="device">
				<img class="fit-img" src="assets/imgs/ps4_device.png">
			</div>
			<div class="device">
				<img class="fit-img" src="assets/imgs/xbox1_device.png">
			</div>
			<div class="device">
				<img class="fit-img" src="assets/imgs/ns_device.png">
			</div>
		</div>
		<div class="prices">
			<h5>&#x20B1;1000 / month</h5>
			<h5>&#x20B1;600 / 2weeks</h5>
		</div>
	</div>

	<div class="row-2">
		<div class="games">
			<img src="http://images.igdb.com/igdb/image/upload/t_cover_big/gfzcaqqg1iinenf1rntp.jpg">
			<img src="http://images.igdb.com/igdb/image/upload/t_cover_big/kqlntgss9yb5invq8nxi.jpg">
			<img src="http://images.igdb.com/igdb/image/upload/t_cover_big/rzjnrhuv5rozj52g9aq3.jpg">
			<img src="http://images.igdb.com/igdb/image/upload/t_cover_big/fxgwm1nnyexhvauqv0ds.jpg">
			<img src="http://images.igdb.com/igdb/image/upload/t_cover_big/cintjlnx6o8qyqtcnajl.jpg">
			<img src="http://images.igdb.com/igdb/image/upload/t_cover_big/kqlntgss9yb5invq8nxi.jpg">
			<img src="http://images.igdb.com/igdb/image/upload/t_cover_big/faqrpb5usp5leipmwgtq.jpg">
		</div>

		<div class="prices">
			<h5>&#x20B1;100 / month</h5>
			<h5>&#x20B1;50 / 2weeks</h5>
		</div>

	</div>

		<button class="order-btn" ion-button>Order</button>
	
</ion-content>
