page-signup {
	.gender-row ion-item.item{
		display: inline-block;
		width: 49%;
	}

	.gender-row .item{
		font-size: 1.4rem;
	}

	ion-item.item-md, .button.button-md{
		margin-top: 40px;
		display: block;
	}

	.btn-container{
    display: flex;
    justify-content: center;
	}
	.btn-container .button{
  	background: color($colors, app_main_bg, base);
		width: 160px;
	}

	form{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		max-width: 500px;
		min-width: 280px;
		width: 90%;
		padding: 20px;
	}

	.error-msg{
		max-width: 355px;
		padding-top: 10px;
		color: #ff0033;
		display: block;
	}

	ion-content.content-md .scroll-content{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.page-content{
  	background: color($colors, app_alt_bg, base);
	}
	.page-content form{
  	background: #fff;
	}
}
